#audioplayer {
	display: flex;
	border: 1px solid $gray;
	background: $light;
	border-radius: 2px;
	justify-content: space-between;
	padding: .25em 1em .25em 1em;
}

#pButton {
    border: none;
    outline:none;
    background: transparent;
    padding-right: 1em;
    width: 2em;
}

.play:before {
	content: '▶';
	color: $gray;
}
.pause:before {
	content: '||';
	font-weight: bolder;
}

#timeline {
	width: 100%;
	align-self: center;
	border-radius: .5em;
	background: $gray-blue-light;
}
#playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: $gray-mid;
}
