#audioplayer {
	display: flex;
	border: solid;
	background: $gray-blue-light;
	justify-content: space-between;
	padding: .25em 1em .25em 1em;
}

#pButton {
    border: none;
    outline:none;
    background: transparent;
    padding-right: 1em;
    width: 2em;
}

.play:before {
	content: '▶';

}
.pause:before {
	content: '||';
	font-weight: bolder;
}

#timeline {
	width: 100%;
	align-self: center;
	border-radius: .5em;
	background: rgba(0,0,0,.3);
}
#playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: rgba(0, 0, 0,1);
}
