$vertical-space: $base;
.band {
	padding-top: $vertical-space;
	padding-bottom: $vertical-space;
	&--SM {
		padding-top: $vertical-space * 2;
		padding-bottom: $vertical-space * 2;
	}

	&--MD {
		padding-top: $vertical-space * 4;
		padding-bottom: $vertical-space * 4;		
	}
	&--LG {
		padding-top: $vertical-space * 6;
		padding-bottom: $vertical-space * 6;		
	}	
	&--XL {
		padding-top: $vertical-space * 8;
		padding-bottom: $vertical-space * 8;		
	}		
}