html {
	font-size: 1em;
}

body {
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
    max-width: $large-width;
    display: block;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;

    &--wide {
        max-width: 60em;
        display: block;
        margin: 0 auto;
        width: 90%;
        overflow: hidden;
    }
}